.title-block{
    background-color: lightgreen;
    margin: 5px 0;
}
.inner-block{
    margin-left: 20px;
    display: none;
}
.main-block.show > .inner-block{
     display: block;
 }
.input-block__btn{
    background-color: #30ad30;
    padding: 7px 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
.input-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}